django
gunicorn
python-dotenv
whitenoise
django-admin-adminlte==1.0.5

# Dbms 
# psycopg2-binary
# mysqlclient

# API Generator
#git+https://github.com/app-generator/django-api-generator.git
django-api-generator==1.0.10

# Dynamic Datatables 
#git+https://github.com/app-generator/django-dynamic-datatb.git
django-dynamic-datatb==1.0.20

